<div class="contents owner-menus-index">
  <h2>Menus</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>イメージ画像</th>
        <th>メニュー名</th>
        <th>予約状況</th>
        <th>販売状況</th>
      </tr>
    </thead>
    <% @menus.each do |menu| %>
      <tbody>
        <tr>
          <td rowspan="2"><%= menu.id %></td>
          <td>
            <%= link_to owner_restaurant_menu_path(@restaurant, menu), class: "menu-image-path" do %>
              <%= attachment_image_tag menu, :menu_image, fallbak: "no_image.png" %>
            <% end %>
          </td>
          <td><%= link_to menu.title, owner_restaurant_menu_path(@restaurant, menu), class: "menu-title-path" %></td>
          <td><%= menu.reservation_method_i18n %></td>
          <td>
            <% if menu.is_sale_frag == true %>
              <%= '販売中' %>
            <% else %>
              <%= '停止中' %>
            <% end %>
          </td>
        </tr>
        <tr class="tag-list">
          <td colspan="1" class="tag-index">タグ一覧(<%= menu.menu_tags.count %>)</td>
          <td colspan="4">
            <% menu.menu_tags.each do |menu_tag| %>
              <span class="menu-tag"><%= menu_tag.tag.name %></span>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <% if @current_restaurant == @restaurant %>
    <div class="owner-menus-index--add-menus"><%= link_to 'メニュー新規追加', new_owner_restaurant_menu_path(@restaurant), class: 'btn btn-success' %></div>
  <% else %>
    <div class="owner-menus-index--add-menus"><%= link_to 'メニュー新規追加', new_owner_restaurant_menu_path(@restaurant), class: 'btn btn-success inactive' %></div>
    <p>店舗管理者のみが編集可能できます。</p>
  <% end %>
</div>
