<div class="contents public-menus-index">
  <h2><i><u>メニュー一覧</u></i></h2>
  <div class="public-menus-index__menu-list">
  <% menu_count = 0  %>
  <% @menus.each do |menu| %>
    <div class="public-menus-index__menu-list__menu-item">
      <h3>メニュー名：<%= link_to menu.title, menu_path(menu), class: "menu#{ menu_count }--title" %></h3>
      <div class="flex menu-body">
        <div class="menu-image">
          <%= link_to menu_path(menu), class: "menu#{ menu_count }--image" do %>
            <%= attachment_image_tag menu, :menu_image, fallback: "no_image.png" %>
          <% end %>
        </div>
        <div class="menu-info">
          <table>
            <tbody>
              <tr>
                <td><p>正規価格<br><%= menu.regular_price.to_s(:delimited) %> 円</p></td>
                <td><p>提供価格<br><%= menu.discount_price.to_s(:delimited) %> 円</p></td>
              </tr>
              <tr>
                <td colspan="2"><p>店舗名: <%= link_to menu.restaurant.name, restaurant_path(menu.restaurant) %></p></td>
              </tr>
              <tr>
                <td colspan="2"><p>住所: <%= menu.restaurant.address %></p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% menu_count += 1  %>
  <% end %>
  </div>
</div>
