<div class="contents contacts-confirm">
  <h2>以下の内容で送信します。</h2>
  <%= form_with model: @contact, url: completion_contact_path, local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <td><h3>ご連絡先</h3></td>
          <td><p><%= f.email_field :email, value: @contact.email, readonly: true %></p></td>
        </tr>
        <tr>
          <td><h3>お問い合わせ内容</h3></td>
          <td><p><%= f.text_area :message, value: @contact.message, readonly: true %></p></td>
        </tr>
      </tbody>
    </table>
    <div class="submit">
      <%= f.submit '修正する', class: "btn btn-outline-dark", name: :back %>
      <%= f.submit '送信', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
