<div class="contents contacts-new">

  <%= render partial: 'shared/messages/flash_messages' %>
  <h2>お問い合わせ</h2>
  <p>ご意見・ご要望・新規出店のご相談はこちらよりお問い合わせください。</p>
  <%= form_with model: @contact, url: confirm_contact_path(@contact), local: true do |f| %>
    <table>
      <tbody>
        <tr class="form-group">
          <% if user_signed_in? && current_user.user_status == "member" %>
            <td><h3>返信希望のメールアドレス</h3></td>
            <td><p><u>登録済みのメールアドレスにご返信いたします。</u></p></td>
            <%= f.hidden_field :email, value: current_user.email %>
          <% else %>
            <td><h3><%= f.label :email %></h3></td>
            <td>
              <%= f.email_field :email, id: "contacts-new__email-form", placeholder: "example@example.com", class: ("error-form" if @contact.errors.include?(:email)) %>
              <%= render partial: 'shared/messages/each_error_messages', locals: { model: @contact, key: :email } %>
            </td>
          <% end %>
        </tr>
        <tr class="form-group">
          <td><h3><%= f.label :message %></h3></td>
          <td>
            <%= f.text_area :message, id: "contacts-new__message-form", class: ("error-form" if @contact.errors.include?(:message)) %>
            <%= render partial: 'shared/messages/each_error_messages', locals: { model: @contact, key: :message } %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="submit"><%= f.submit '確認する', id: "new-contacts-submit", class: "btn btn-outline-dark" %></div>
  <% end %>

</div>
